@font-face {
 font-family: "Paragon";
 src: url("webfont/paragon-regular.woff") format("woff");
}

@font-face {
 font-family: "Uncut oblique";
 src: url("webfont/Uncut-Sans-RegularOblique.woff") format("woff");
}

@font-face {
 font-family: "Uncut medium";
 src: url("webfont/Uncut-Sans-Medium.woff") format("woff");
}


html, body {
   height: 100%;
}

body {
  background-color: #eaeaea;
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;
}


canvas {
  border: 5px solid;
  border-color: black;
  display: block;
  box-shadow:10px 10px 0px #000000

}

.boxinfo {
  align-content: center;
  background-color : #eaeaea;
  border: 5px solid;
  border-color: black;
  border-left: none;
  width: 630px;
  height: 630px;
  box-shadow:10px 10px 0px #000000

}

.title {
display : block;
font-family: "Paragon";
font-size: 70px;
padding-left: 50px;
margin-top: 45px;
margin-bottom: -10px;
}

.boxentry {
  display: flex;
  background-color: none;
  border-color: black;
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 35px;

}

.boxes {
  font-family: "Paragon";
  text-align: center;
  font-size: 40px;
  display: inline;
  border: 4px solid;
  background-color: #eaeaea;
  height: 50px;
  margin: 10px;
  padding: 25px 20px 20px 20px;
  box-shadow:7px 7px 10px #BFBFBF;
  transition: transform .2s ease-in-out;
}

.boxes:hover {
  transform: rotate(5deg);
}

.boxweight {
  font-family: "Paragon";
  text-align: center;
  font-size: 40px;
  display: inline;
  border: 4px solid;
  background-color: #eaeaea;
  height: 50px;
  margin: 10px;
  padding: 25px 30px 20px 25px;
  box-shadow:7px 7px 10px #BFBFBF;
  transition: transform .2s ease-in-out;
}

.boxweight:hover {
  transform: rotate(5deg);
}

.boxegg {
  font-family: "Paragon";
  text-align: center;
  font-size: 40px;
  display: inline;
  border: 4px solid;
  background-color: #eaeaea;
  height: 50px;
  margin: 10px;
  padding: 25px 45px 20px 40px;
  box-shadow:7px 7px 10px #BFBFBF;
  transition: transform .2s ease-in-out;
}

.boxegg:hover {
  transform: rotate(5deg);
}

.pokeball {
  display: inline;
  text-align: center;
  background-color: #eaeaea;
  height: 50px;
  margin: 30px 10px 10px 165px;
}

.pokeball img{
  width: 70px;
  height: 70px;
}
